/*-- scss:defaults --*/
$theme-black: #1b1b1b;
$theme-teal: #79B4A9;
$theme-white: #F7F8F9;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


$body-bg: $theme-black;
$body-color: $theme-white;
$link-color: $theme-teal;

$font-family-sans-serif: 'Open Sans', sans-serif;
$presentation-heading-font: 'Montserrat', sans-serif;

/*-- scss:rules --*/

@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.theme-slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &:is(.slide-background) {
    background-image: url('../../../../../images/angiopteris_dark.png');
    @include background-full;
  }
  h2 {
    color: $theme-white; // or #5CB4C2
    font-size: 3em;
    font-family: 'IBM Plex Mono';
  }
}

.bottom-image {
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;
  width: auto !important;
  height: auto !important;
  max-height: 50px !important;
  max-width: 100px !important;
}

.center-v {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-full {
  max-height: 100vh;  // Ensure the image never exceeds the viewport height
  max-width: 100vw;   // Ensure the image never exceeds the viewport width
  width: auto;        // Maintain aspect ratio
  height: auto;       // Maintain aspect ratio
  object-fit: contain; // Ensure the whole image is visible
  display: block;     // Prevents unwanted spacing
  margin: auto;       // Centers the image within the slide
}



.tiny {
  font-size: 20%;
}

.small {
  font-size: 40%;
}

.medsmall {
  font-size: 60%;
}

.medium {
  font-size: 80%;
}

.normal {
  font-size: 100%;
}

.medlarge {
  font-size: 120%;
}

.large {
  font-size: 150%;
}
